<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/data_send.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'center',title:'数据分发',iconCls:'icon-large-smartart'">
        <div title="数据源"></div>
        <div title="DataGrid" style="padding:2px">
            <table id="service_table" data-options="toolbar:'#tb'"></table>
        </div>
    </div>
    
</body>

</html>