<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/feerate_manage.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'费率管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="feerate_table" data-options="toolbar:'#tb'"></table>
        </div>
    </div>
    <!-- toolbar -->
    <div id="tb" style="padding:3px;height:25px;">
        <div style="float:left;margin-left:1px">
            <span>经纪商</span>
            <input type="text" class="easyui-combobox" data-options="panelHeight:'auto',width:80,valueField:'bid',textField:'bname',url:'/broker_combobox_json/'">
        </div>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-in'">费率导入</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-out'">费率导出</a>
        <div style="float: right;margin-right: 20px">
            <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px">
        </div>
    </div>
</body>

</html>
