<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
</head>
<body class="easyui-layout">
    <div data-options="region:'center',title:'总账号管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="master_acct_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <!-- <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div> -->
            </div>
        </div>
</body>
</html>