<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>量化运维管理系统</title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/Styles/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="/static/Scripts/index.js"></script>
</head>
<body>
    <div class="warp">
        <!--头部开始-->
        <div class="top_c">
            <div>
            <h1 id="itrade">itrade运维平台</h1>
            </div>
    <!--         <div class="top-menu">
                <ul class="top-menu-nav">
                    <li><a href="/index/">首页</a></li>
                </ul>
            </div> -->
            <div class="top-nav">欢迎您，kiki！&nbsp;&nbsp;&nbsp;<a target="Conframe" href="/user_manage/">用户管理</a> | <a href="/login/">安全退出</a></div>
        </div>
        <!--头部结束-->
        
        <!--左边菜单开始-->
        <div class="left_c left">
            <h1>操作菜单</h1>
            <div class="acc">
                <div>
                <ul id="accordion" class="accordion">
                   <li> <a class="one link">主机管理</a>
                        <ul class="kid submenu">
                            <li><b class="tip"></b><a target="Conframe" href="/serverinfo/">主机信息</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/serviceinfo/">服务控制</a></li>
                            <!-- <li><b class="tip"></b><a target="Conframe" href="/configure/">行情检测</a></li> -->
                            <li><b class="tip"></b><a target="Conframe" href="/data_send/">数据分发</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">版本控制</a></li>
                        </ul>
                    </li>
                    <li><a class="one link">产品管理</a>
                        <ul class="kid submenu">
                            <li><b class="tip"></b><a target="Conframe" href="/productinfo/">产品列表</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/acct/">资金账户管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/master_acct/">总账号管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/sub_acct/">子账号管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/ss_manage/">策略管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/gw_manage/">网关管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/ps_manage/">行情管理</a></li>
                        </ul>
                    </li>
                    <li> <a class="one link">日志管理</a>
                        <ul class="kid submenu">
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">出入金记录</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">服务启动日志</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">行情日志</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">数据分发日志</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">邮件发送日志</a></li>
                        </ul>
                    </li>
                   <!--  <li><a class="one link">清算管理</a>
                        <ul class="kid submenu">
                            <li><b class="tip"></b><a target="Conframe" href="/master_acct/">总账号管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/sub_acct/">子账号管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/feerate_manage/">费率配置</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">报表管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/position/">仓位管理</a></li>
                            <li><b class="tip"></b><a target="Conframe" href="/configure/">订单管理</a></li>
                        </ul>
                    </li> -->
                </ul>
                </div>
                <div id="datepicker"></div>
            </div>

        </div>
        <!--左边菜单结束-->

        <!--右边框架开始-->
        <div class="right_c">
            <div class="nav-tip" onclick="javascript:void(0)">&nbsp;</div>
        </div>
        <div class="Conframe">
            <iframe src="/dashboard/" name="Conframe" id="Conframe"></iframe>
        </div>
        <!--右边框架结束-->

        <!--底部开始-->
        <div class="bottom_c">Copyright &copy;2016-2017 HIKI 版权所有</div>
        <!--底部结束-->
    </div>
</body>
</html>
