<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript">
    $(function() {
        var editRow = '';
        var permission = [{
            "value": "管理员",
            "text": "管理员"
        }, {
            "value": "IT业务",
            "text": "IT业务"
        }];
        $('#master_acct_table').datagrid({
            title: '>>>总账号列表',
            url: '/master_acct_json/',
            width: '100%',
            border: true,
            fitColumns: true,
            striped: true,
            singleSelect: true,
            pagination: false,
            idField: 'id',
            pageSize: 10,
            pageList: [10, 15, 20, 25, 100],
            columns: [
                [{
                    field: 'id',
                    title: '序号',
                    width: 35
                }, {
                    field: 'acc_num',
                    title: '总账号',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'acc_name',
                    title: '账号名',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'trdacct',
                    title: '关联资金账户',
                    width: 120,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'equity',
                    title: '客户权益',
                    width: 150,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'buy_margin',
                    title: '多仓保证金',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true,
                        }
                    }
                }, {
                    field: 'sell_margin',
                    title: '空仓保证金',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true,
                        }
                    }
                }, {
                    field: 'margin_locked',
                    title: '保证金占用',
                    width: 150,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'fund_avaril',
                    title: '可用资金',
                    width: 150,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }]
            ],
        });

        /*************************点击添加总账号******************************/
        $('#master_acct_add').bind('click', function() {
            $('#master_acct').dialog({
                closed: false,
                title: '新增总账号',
                cache: false
            });
            $('#fm').form('clear');
            $('#modify').hide()
            $('#add').show()
        });


        /*************************点击弹出出入金界面******************************/
        $('#fund_change_btn').bind('click', function() {
            $('#fund_change').dialog({
                closed: false,
                title: '出入金',
                cache: false
            });
        });

        /*************************点击修改总账号信息******************************/
        $('#master_acct_edit').bind('click', function() {
            var row_select = $('#master_acct_table').datagrid('getSelected'); //返回的是被选中行的对象
            if (row_select) {
                if (row_select.length == 1) {
                    $.messager.alert('警告', row_select.length, 'warning');
                } else {
                    $('#master_acct').dialog({
                        closed: false,
                        title: '编辑总账号信息',
                        cache: false
                    });
                    $('#fm').form("load", row_select);
                    $('input[name="acc_num"]').prev().prop('disabled', true)
                    $('#add').hide()
                    $('#modify').show()
                }
            } else {
                $.messager.alert('警告', '请先选中需要修改行！', 'warning');
            }
        });
        /*************************点击删除总账号******************************/
        $('#master_acct_delete').bind('click', function() {
            var acc_nums = "";
            var row_select = $('#master_acct_table').datagrid('getSelections'); //返回的是被选中行的对象
            for (var i = 0; i < row_select.length; i++) {
                acc_nums += '#' + row_select[i].acc_num;
            }
            if (acc_nums == "") {
                $.messager.alert('警告', '请先选中需要删除的资金账户！', 'warning');
                return false;
            } else {
                $.messager.confirm('确认', '您确认想要删除此资金账户吗？', function(r) {
                    if (r) {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            url: "/master_acct_del/",
                            data: {
                                "delinfo": acc_nums
                            },
                            dataType: 'json',
                            success: function(msg) {
                                if (msg.accmsg) {
                                    $.messager.alert('message' + msg.accmsg, 'info');
                                    $('#master_acct_table').datagrid('reload', {});
                                } else {
                                    $.messager.alert('错误', msg.errmsg);
                                    $('#master_acct_table').datagrid('reload', {});
                                }
                            }
                        });
                    }
                });
            }
        });
    });
    </script>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'总账号管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="master_acct_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="master_acct_add">新增</a>
                <a id="master_acct_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="master_acct_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <a id="fund_change_btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" plain="true">出入金</a>
                <!-- <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div> -->
            </div>
        </div>
    </div>
    <div id="master_acct" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p>
                总 账 号:&nbsp&nbsp&nbsp&nbsp
                <input name="acc_num" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true">
            </p>
            <p>
                账 户 名:&nbsp&nbsp&nbsp&nbsp
                <input name="acc_name" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true">
            </p>
            <p>
                关联资金账户:
                <input name="trdacct" class="easyui-combobox" style="width:185px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'trdacct',textField:'trdacct',url:'/acct_combobox_json/'">
            </p>
            <p>
                客 户 权 益:
                <input name="equity" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <p>
                买 保 证 金:
                <input name="buy_margin" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <p>
                卖 保 证 金:
                <input name="sell_margin" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <p>
                保证金占用:
                <input name="margin_locked" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <p>
                可 用 资 金:
                <input name="fund_avaril" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <div style="text-align: center">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="masteracctinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="masteracctinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#master_acct').dialog('close')">取消</a>
            </div>
            <!-- 提交产品信息到后台 -->
            <script type="text/javascript">
            document.onkeydown = function(e) {
                var event = e || window.event;
                var code = event.keyCode || event.which || event.charCode;
                if (code == 13) {
                    masteracctinfoadd();
                }
            }
            $(function() {
                $("input[name='acc_num']").focus();
            });

            function cleardata() {
                $('#fm').form('clear');
            }

            function masteracctinfoadd() {
                if ($("input[name='acc_num']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='acc_num']").focus();
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/master_acct_add/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/master_acct/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }

            function masteracctinfomod() {
                if ($("input[name='acc_num']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='acc_num']").focus();
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/master_acct_mod/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/master_acct/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }
            </script>
    </div>
    </form>
    </div>
    <div id="fund_change" class="easyui-dialog" closed="true" style="width: 380px;padding: 20px 40px;">
        <form id="fund_change_fm" method="post">
            <p>出 入 金:&nbsp
                <input name="fund_change" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px">
            </p>
            <p>资金账户:
                <input name="change_acct" class="easyui-combobox" style="width:200px;height:32px" data-options="panelHeight:'auto', valueField:'acc_num',textField:'acc_num',url:'/masteracc_combobox_json/'">
            </p>
            <p>备&nbsp&nbsp&nbsp&nbsp&nbsp 注:
                <input name="change_desc" class="easyui-textbox" style="width: 200px;height: 32px">
            </p>
            <div style="text-align: center;">
                <a id="fund_btn" type="submit" class="easyui-linkbutton" iconCls="icon-save" onclick="fund_change()" style="margin:0 20px">提交</a>
                <a class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#fund_change').dialog('close')" style="margin:0 20px">取消</a>
            </div>
            <script>
            function fund_change() {
                if ($("input[name='fund_change']").val() == "") {
                    $.messager.alert('警告', '出入金不可为空!', 'warning');
                    $("input[name='fund_change']").focus();
                } else if ($("input[name='change_acct']").val() == "") {
                    $.messager.alert('警告', '请选取出入金总账号！!', 'warning');
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/master_acct_fund_change/",
                        data: $("#fund_change_fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/master_acct/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }
            </script>
        </form>
    </div>
</body>

</html>
