<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/master_acct.js"></script>
    <style>
        label{
            display: inline-block;
            width:95px;
            text-align: right;
        }
    </style>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'总账号管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="master_acct_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <a id="master_acct_add" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" >新增</a>
                <a id="master_acct_edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="master_acct_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <a id="fund_change_btn" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" plain="true">出入金</a>
                <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div>
            </div>
        </div>
    </div>
    <div id="master_acct" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p><label for="acc_num">总账号:</label>
                <input name="acc_num" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true"></p>
            <p><label for="acc_name">账户名:</label>
                <input name="acc_name" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true"></p>
            <p><label for="trdacct">关联资金账户:</label>
                <input name="trdacct" class="easyui-combobox" style="width:200px;height:32px" required="true" data-options="panelHeight:'116',valueField:'trdacct',textField:'trdacct',url:'/acct_combobox_json/'"></p>
            <p><label for="equity">客户权益:</label>
                <input name="equity" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p><label for="buy_margin">买保证金:</label>
                <input name="buy_margin" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p><label for="sell_margin">卖保证金:</label>
                <input name="sell_margin" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p><label for="margin_locked">保证金占用:</label>
                <input name="margin_locked" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p><label for="fund_avaril">可用资金:</label>
                <input name="fund_avaril" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <div style="text-align: center">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="masteracctinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="masteracctinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#master_acct').dialog('close')">取消</a>
            </div>
        </form>
    </div>
    <div id="fund_change" class="easyui-dialog" closed="true" style="width: 400px;padding: 20px 40px;">
        <form id="fund_change_fm" method="post">
            <p><label for="fund_change">出入金:</label>
            <input name="fund_change" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px"></p>
            <p><label for="change_acct">资金账户:</label>
            <input name="change_acct" class="easyui-combobox" style="width:200px;height:32px" data-options="panelHeight:'auto', valueField:'acc_num',textField:'acc_num',url:'/masteracc_combobox_json/'"></p>
            <p><label for="change_desc">备注:</label>
            <input name="change_desc" class="easyui-textbox" style="width: 200px;height: 32px"></p>
            <div style="text-align: center;">
                <a id="fund_btn" type="submit" class="easyui-linkbutton" iconCls="icon-save" onclick="fund_change()" style="margin:0 20px">提交</a>
                <a class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#fund_change').dialog('close')" style="margin:0 20px">取消</a>
            </div>
        </form>
    </div>
</body>

</html>
