<!DOCTYPE html>
<html>

<head>
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/productinfo.js"></script>
    <style>
        label{
            display: inline-block;
            width:80px;
            text-align: right;
        }
    </style>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'产品管理',iconCls:'icon-large-smartart'" style="overflow: hidden;">
        <div title="DataGrid" style="padding:2px">
            <table id="product_table" data-options="toolbar:'#tb'"></table>
        </div>
    </div>
    <div id="tb" style="padding:3px;height:auto">
        <div style="margin-bottom:1px">
            <a  id="product_add" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true">新增</a>
            <a id="product_edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
            <a id="product_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
            <div style="float:right;margin-right:20px">
                <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px">
            </div>
        </div>
    </div>

    <div id="product" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p><label for="pid">产品编号:</label>
            <input name="pid" class="easyui-textbox easyui-validatebox pid" validType="strEngNum" style="width:200px;height:32px" required="true" ></p>
            <p><label for="panme">产品名称:</label>
            <input name="pname" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true"></p>
            <p><label for="admin">产品管理人:</label>
            <input name="admin" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p><label for="desc">产品介绍:</label>
            <input name="desc" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <div style="text-align: center">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="productinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="productinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#product').dialog('close')">取消</a>
            </div>
        </form>
    </div>
    
</body>

</html>
