<!DOCTYPE html>
<html>

<head>
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var editRow = '';
        var permission = [{
            "value": "管理员",
            "text": "管理员"
        }, {
            "value": "IT业务",
            "text": "IT业务"
        }];
        $('#product_table').datagrid({
            title: '>>>产品列表',
            url: '/productinfo_json/',
            width: '100%',
            border: true,
            fitColumns: true,
            striped:true,
            singleSelect: true,
            pagination: false,
            idField: 'id',
            pageSize: 10,
            pageList: [10, 15, 20, 25, 100],
            columns: [
                [{
                    field: 'id',
                    title: '序号',
                    width: 35
                }, {
                    field: 'pid',
                    title: '产品编号',
                    width: 120,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'pname',
                    title: '产品名称',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'admin',
                    title: '产品管理人',
                    width: 150,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true
                        }
                    }
                }, {
                    field: 'desc',
                    title: '产品介绍',
                    width: 200,
                    editor: {
                        type: 'validatebox',
                        options: {
                            required: true,
                            validType: 'strChinese'
                        }
                    }
                }]
            ],
        });
        
        /*************************点击添加用户******************************/
        $('#product_add').bind('click', function() {
            $('#product').dialog({
                closed: false,
                title: '新增产品',
                cache: false
            });
            $('#fm').form('clear');
            $('#modify').hide()
            $('#add').show()
        });

        /*************************点击修改用户******************************/
        $('#product_edit').bind('click', function() {
            var row_select = $('#product_table').datagrid('getSelected'); //返回的是被选中行的对象
            if (row_select) {
                if (row_select.length == 1) {
                    $.messager.alert('警告', row_select.length, 'warning');
                } else {
                    $('#product').dialog({
                        closed: false,
                        title: '编辑产品信息',
                        cache: false
                    });
                    $('#fm').form("load", row_select)
                    $("input[name='pid']").prev().prop("disabled",true)
                    $('#add').hide()
                    $('#modify').show()
                }
            } else {
                $.messager.alert('警告', '请先选中需要修改行！', 'warning');
            }
        });

        /*************************点击删除产品******************************/
        $('#product_delete').bind('click', function() {
            var ids = "";
            var pids = "";
            var row_select = $('#product_table').datagrid('getSelections'); //返回的是被选中行的对象
            console.log(row_select)
            for (var i = 0; i < row_select.length; i++) {
                ids += '#' + row_select[i].pid;
                pids += ' [' + row_select[i].pid + '] ';
            }
            if (ids == "") {
                $.messager.alert('警告', '请先选中需要删除的产品！', 'warning');
                return false;
            } else {
                $.messager.confirm('确认', '您确认想要删除此产品吗？', function(r) {
                    if (r) {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            url: "/productinfo_del/",
                            data: {
                                "delinfo": ids
                            },
                            dataType: 'json',
                            success: function(msg) {
                                if (msg.accmsg) {
                                    $.messager.alert('message'+msg.accmsg,'info');
                                    $('#product_table').datagrid('reload', {});
                                } else {
                                    $.messager.alert('错误', msg.errmsg);
                                    $('#product_table').datagrid('reload', {});
                                }
                            }
                        });
                    }
                });
            }
        });

        /**************对validatebox控件正则表达式验证数据有效性扩展**************/
        $.extend($.fn.validatebox.defaults.rules, {
            strip: {
                validator: function(value) {
                    var re = /^[\d+\.\d+\.\d+\.\d+]/;
                    if (re.test(value))
                        return false;
                    else
                        if (RegExp.$1 < 256 && RegExp.$2 < 256 && RegExp.$3 < 256 && RegExp.$4 < 256)
                            return true;
                        else
                            return false;
                },
                message: '只能输入IP格式！'
            },
            strChinese: {
                validator: function(value) {
                    var re = /[^\u4e00-\u9fa5]/;
                    if (re.test(value))
                        return false;
                    else
                        return true;
                },
                message: '只能输入中文！'
            },
            strEngNum: {
                validator: function(value) {
                    var re = /[^\w+$]/;
                    if (re.test(value))
                        return false;
                    else
                        return true;
                },
                message: '只能输入英文、数字或下划线！'
            }
        });
    });
    </script>
    <script type="text/javascript">
    function doSearch(value) {
        if (value) {
            alert('You input: ' + value);
        } else {
            alert('Please input ...');
        }
    }
    </script>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'产品管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="product_table" data-options="toolbar:'#tb'">
            </table>
        </div>
    </div>
    <div id="tb" style="padding:3px;height:auto">
        <div style="margin-bottom:1px">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="product_add">新增</a>
            <a id="product_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
            <a id="product_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
            <div style="float:right;margin-right:20px">
                <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
            </div>
        </div>
    </div>

    <div id="product" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p>
                产 品 编 号:
                <input name="pid" class="easyui-textbox easyui-validatebox pid" validType="strEngNum" style="width:200px;height:32px" required="true" >
            </p>
            <p>
                产 品 名 称:
                <input name="pname" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true">
            </p>
            <p>
                产品管理人:
                <input name="admin" class="easyui-textbox" style="width:200px;height:32px" required="true">
            </p>
            <p>
                产 品 介 绍:
                <input name="desc" class="easyui-textbox " style="width:200px;height:32px" required="false">
            </p>
            <div style="text-align: center">
            <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="productinfoadd()">提交</a>
            <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="productinfomod()">修改</a>
            <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#product').dialog('close')">取消</a>
            </div>
            <!-- 提交产品信息到后台 -->
            <script type="text/javascript">
            document.onkeydown = function(e) {
                var event = e || window.event;
                var code = event.keyCode || event.which || event.charCode;
                if (code == 13) {
                    productinfoadd();
                }
            }
            $(function() {
                $("input[name='pid']").focus();
            });

            function cleardata() {
                $('#fm').form('clear');
            }

            function productinfoadd() {
                if ($("input[name='pid']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='pid']").focus();
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/productinfo_add/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/productinfo/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }
            
            function productinfomod() {
                if ($("input[name='pid']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='pid']").focus();
                } else{
                    $.ajax({
                        type: "GET",
                        url: "/productinfo_mod/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/productinfo/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }
            </script>
    </div>
    </form>
    </div>
</body>

</html>
