<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/service_manage.js"></script>
    <style>
        .datagrid-row-selected{
            background: #FCF6BA;
            color:#030303;
        }
    </style>
</head>

<body class="easyui-layout">

    <div data-options="region:'center',title:'服务配置',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px;height:500px">
            <table id="service_table" data-options="toolbar:'#tb'"></table>
        </div>
    </div>

    <!-- toolbar -->
    <div id="tb" style="padding:3px;height:auto">
        <div style="margin-bottom:1px">
                <a id="service_add" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" >新增</a>
                <a id="service_edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="service_delete" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <input type = "text" id="check_all_server" placeholder="选择服务器"></input>
                <a id="service_check" class="easyui-linkbutton" data-options="iconCls:'icon-magnifier'" plain="true">检查</a>
                <a id="service_start" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" plain="true">启动</a>
                <a id="service_stop" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">停止</a>
                <a id="service_restart" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" plain="true">重启</a>
        </div>
    </div>

    <div id="service" class="easyui-dialog" closed=true  style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p>服务编号:
                <input name="ser_id" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true"></p>
            <p>服务名称:
                <input name="ser_name" class="easyui-textbox easyui-validatebox" validType="strip" style="width:200px;height:32px" required="true"></p>
            <p>服务属性:
                <input name="ser_att" class="easyui-combobox" validType="strip" style="width:200px;height:32px" required="true" data-options="editable:false,panelHeight:'auto',valueField:'label',textField:'value',data:[{label: 'PS',value: 'PS'},{label: 'SS',value: 'SS'},{label: 'GW',value:'GW'},{label:'SS2ISON',value:'SS2ISON'}]"></p>
            <p>配 置 名:
                <input name="ser_cfg" class="easyui-combobox" style="width:200px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'scfg',textField:'scfg',url:'/strategyinfo_combobox_json/'"></p>
            <p>服务端口:
                <input name="ser_port" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p>所属主机:
                <input name="ser_srv" class="easyui-combobox" style="width:200px;height:32px" required="true"  data-options="panelHeight:'auto',valueField:'srvnum',textField:'srvnum',url:'/serverinfo_combobox_json/'"></p>
            <p>备注:&nbsp&nbsp
                <input name="desc" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true"></p>
            <div style="text-align: center">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="service_add()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="service_mod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#service').dialog('close')">取消</a>
            </div>
        </form>
    </div>
</body>

</html>
