<!DOCTYPE html>
<html>
<head>
    <title>量化运维管理系统</title>
    <meta charset="UTF-8"> 
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/serverinfo.js"></script>
    <style>
        label{
            display: inline-block;
            width:70px;
            text-align: right;
        }
    </style>
</head>

<body class="easyui-layout">

    <div data-options="region:'center',title:'主机管理',iconCls:'icon-large-smartart'" style="overflow: hidden">
        <div title="DataGrid" style="padding:2px">
            <table id="server_table"  data-options="toolbar:'#tb'"></table>
        </div>
    </div>
    
<!-- toolbar -->
    <div id="tb" style="padding:3px;height:auto">  
        <div style="margin-bottom:1px">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="server_add">新增</a>
            <a id="user_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
            <a id="user_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
            <a id="passwd_show" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-tip'" plain="true">显示密码</a>
            <a id="passwd_hide" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-untip'" plain="true">隐藏密码</a>
            <div style="float:right;margin-right:20px">
                <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px">
            </div>
        </div>
    </div>
    
    <div id="server" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p><label for="srvnum">服务器编号:</label>
            <input name="srvnum" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true"></p>
            <p><label for="ip">IP地址:</label>
            <input name="ip" class="easyui-textbox easyui-validatebox" validType="strip" style="width:200px;height:32px" required="true"></p>
            <p><label for="user">用户名:</label>
            <input name="user" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p><label for="passwd">密码:</label>
            <input name="passwd" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p><label for="port">SSH 端口:</label>
            <input name="port" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p><label for="productadmin">产品管理人:</label>
            <input name="productadmin" class="easyui-textbox" style="width:200px;height:32px" required="true"></p>
            <p><label for="desc">业务描述:</label>
            <input name="desc" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true"></p>
            <div style="text-align: center">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="serverinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="serverinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#server').dialog('close')">取消</a>
            </div>
        </form>
    </div>

</body>
</html>
