<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/Scripts/strategyinfo.js"></script>
    <style type="text/css">
        body{
            font-family:verdana,helvetica,arial,sans-serif;
        }
    </style>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'策略管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="strategy_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="strategy_add">新增</a>
                <a id="strategy_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="strategy_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div>
            </div>
        </div>
    </div>

   <div id="strategy" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
       <form id="fm" method="get">
           <p>策 略 编 号:
           <input name="sid" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true"></p>
            <p>策 略 名 称:
            <input name="sname" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px" required="true"></p>
            <p>资金账户号:
            <input name="scfg" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px" required="true"></p>
            <p>策 略 端 口:
            <input name="port" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px" required="true"></p>
            <p>所 属 主 机:
            <input name="ssrv" class="easyui-combobox" style="width:200px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'srvnum',textField:'srvnum',url:'/serverinfo_combobox_json/'"></p>
            <p>所 属 产 品:
            <input name="product" class="easyui-combobox" style="width:200px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'pid',textField:'pname',url:'/product_combobox_json/'"></p>
            <p>总 账 号:&nbsp&nbsp&nbsp&nbsp
            <input name="master_acc" class="easyui-combobox" validType="strEngNum" style="width:200px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'acc_num',textField:'acc_num',url:'/masteracc_combobox_json/',
                    onSelect:function(rec){
                      var url = 'subacc_combobox_json/'+rec.acc_num;
                      $('#combo_sub_acc').combobox('reload',url);
                    }"></p>
            <p>子 账 号:&nbsp&nbsp&nbsp&nbsp
            <input id="combo_sub_acc" name="sub_acc" class="easyui-combobox" validType="strEngNum" style="width:200px;height:32px" required="true"  data-options="panelHeight:'auto',valueField:'acc_num',textField:'acc_num'"></p>
            <p>策 略 介 绍:
            <input name="desc" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <div style="text-align: center;">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="strategyinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="strategyinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#strategy').dialog('close')">取消</a>
            </div>
        </form>
    </div>

  
</body>

</html>
