<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript">
    $(function() {
                var editRow = '';
                var permission = [{
                    "value": "管理员",
                    "text": "管理员"
                }, {
                    "value": "IT业务",
                    "text": "IT业务"
                }];
                $('#sub_acct_table').datagrid({
                    title: '>>>子账号列表',
                    url: '/sub_acct_json/',
                    width: '100%',
                    border: true,
                    fitColumns: true,
                    singleSelect: false,
                    pagination: false,
                    idField: 'id',
                    pageSize: 10,
                    pageList: [10, 15, 20, 25, 100],
                    columns: [
                        [{
                            field: 'id',
                            title: '序号',
                            width: 35
                        },  {
                            field: 'acc_num',
                            title: '账户号',
                            width: 200,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        },{
                            field: 'acc_name',
                            title: '账户名',
                            width: 200,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        },{
                            field: 'master_acct',
                            title: '关联总账号',
                            width: 120,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        }, {
                            field: 'equity',
                            title: '客户权益',
                            width: 150,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        }, {
                            field: 'buy_margin',
                            title: '多仓保证金',
                            width: 200,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true,
                                }
                            }
                        },{
                            field: 'sell_margin',
                            title: '空仓保证金',
                            width: 200,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true,
                                }
                            }
                        }, {
                            field: 'margin_locked',
                            title: '保证金占用',
                            width: 150,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        }, {
                            field: 'fund_avaril',
                            title: '可用资金',
                            width: 150,
                            editor: {
                                type: 'validatebox',
                                options: {
                                    required: true
                                }
                            }
                        }]
                    ],
                });

        /*************************点击添加子账号******************************/
        $('#sub_acct_add').bind('click', function() {
            $('#sub_acct').dialog({
                closed: false,
                title: '新增子账号',
                cache: false
            });
            $('#fm').form('clear');
            $('#modify').hide()
            $('#add').show()
        });
        /*************************点击修改子账号信息******************************/
        $('#sub_acct_edit').bind('click', function() {
            var row_select = $('#sub_acct_table').datagrid('getSelected'); //返回的是被选中行的对象
            if (row_select) {
                if (row_select.length == 1) {
                    $.messager.alert('警告', row_select.length, 'warning');
                } else {
                    $('#sub_acct').dialog({
                        closed: false,
                        title: '编辑子账号信息',
                        cache: false
                    });
                    $('#fm').form("load", row_select);
                    $('#add').hide()
                    $('#modify').show()
                }
            } else {
                $.messager.alert('警告', '请先选中需要修改行！', 'warning');
            }
        });
        /*************************点击删除子账号******************************/
        $('#sub_acct_delete').bind('click', function() {
            var acc_nums = "";
            var row_select = $('#sub_acct_table').datagrid('getSelections'); //返回的是被选中行的对象
            for (var i = 0; i < row_select.length; i++) {
                acc_nums += '#' + row_select[i].acc_num;
            }
            if (acc_nums == "") {
                $.messager.alert('警告', '请先选中需要删除的子账号！', 'warning');
                return false;
            } else {
                $.messager.confirm('确认', '您确认想要删除此子账号吗？', function(r) {
                    if (r) {
                        $.ajax({
                            type: "GET",
                            cache: false,
                            url: "/sub_acct_del/",
                            data: {
                                "delinfo": acc_nums
                            },
                            dataType: 'json',
                            success: function(msg) {
                                if (msg.accmsg) {
                                    $.messager.alert('message' + msg.accmsg, 'info');
                                    $('#sub_acct_table').datagrid('reload', {});
                                } else {
                                    $.messager.alert('错误', msg.errmsg);
                                    $('#sub_acct_table').datagrid('reload', {});
                                }
                            }
                        });
                    }
                });
            }
        });
    });
    </script>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'子账号管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="sub_acct_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="sub_acct_add">新增</a>
                <a id="sub_acct_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="sub_acct_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <!-- <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div> -->
            </div>
        </div>
    </div>
    <div id="sub_acct" class="easyui-dialog" closed="true" style="width:400px;padding:30px 60px">
        <form id="fm" method="get">
            <div style="margin-bottom:20px">
                <div>子账号</div>
                <input name="acc_num" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:100%;height:32px" required="true">
            </div>
            <div style="margin-bottom:20px">
                <div>账户名</div>
                <input name="acc_name" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:100%;height:32px" required="true">
            </div>
            <div style="margin-bottom:20px">
                <div>关联总账号</div>
                <input name="master_acct" class="easyui-textbox" style="width:100%;height:32px" required="true">
            </div>
            <div style="margin-bottom:20px">
                <div>客户权益</div>
                <input name="equity" class="easyui-textbox " style="width:100%;height:32px" required="false">
            </div>
            <div style="margin-bottom:20px">
                <div>买保证金</div>
                <input name="buy_margin" class="easyui-textbox " style="width:100%;height:32px" required="false">
            </div>
            <div style="margin-bottom:20px">
                <div>卖保证金</div>
                <input name="sell_margin" class="easyui-textbox " style="width:100%;height:32px" required="false">
            </div>
            <div style="margin-bottom:20px">
                <div>保证金占用</div>
                <input name="margin_locked" class="easyui-textbox " style="width:100%;height:32px" required="false">
            </div>
            <div style="margin-bottom:20px">
                <div>可用资金</div>
                <input name="fund_avaril" class="easyui-textbox " style="width:100%;height:32px" required="false">
            </div>
            <a id="add" type="submit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="subacctinfoadd()">提交</a>
            <a id="modify" type="submit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="subacctinfomod()">修改</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#sub_acct').dialog('close')">取消</a>
            <!-- 提交产品信息到后台 -->
            <script type="text/javascript">
            document.onkeydown = function(e) {
                var event = e || window.event;
                var code = event.keyCode || event.which || event.charCode;
                if (code == 13) {
                    subacctinfoadd();
                }
            }
            $(function() {
                $("input[name='acc_num']").focus();
            });

            function cleardata() {
                $('#fm').form('clear');
            }

            function subacctinfoadd() {
                if ($("input[name='acc_num']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='acc_num']").focus();
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/sub_acct_add/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/sub_acct/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }

            function subacctinfomod() {
                if ($("input[name='acc_num']").val() == "") {
                    $.messager.alert('警告', '输入内容不可为空!', 'warning');
                    $("input[name='acc_num']").focus();
                } else {
                    $.ajax({
                        type: "GET",
                        url: "/sub_acct_mod/",
                        data: $("#fm").serialize(),
                        success: function(msg) {
                            if (msg.accmsg) {
                                $.messager.alert('恭喜', msg.accmsg, 'info');
                                location.href = "/sub_acct/";
                            } else {
                                $.messager.alert('警告', msg.errmsg, 'error');
                            }
                        }
                    });
                }
            }
            </script>
    </div>
    </form>
    </div>
</body>

</html>
