<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/Scripts/sub_acct.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'center',title:'子账号管理',iconCls:'icon-large-smartart'">
        <div title="DataGrid" style="padding:2px">
            <table id="sub_acct_table" data-options="toolbar:'#tb'"></table>
        </div>
        <div id="tb" style="padding:3px;height:auto">
            <div style="margin-bottom:1px">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" plain="true" id="sub_acct_add">新增</a>
                <a id="sub_acct_edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" plain="true">修改</a>
                <a id="sub_acct_delete" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" plain="true">删除</a>
                <a id="fund_change_btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-filter'" plain="true">出入金</a>
                <!-- <div style="float:right;margin-right:20px">
                    <input class="easyui-searchbox" data-options="prompt:'Please Input Value',searcher:doSearch" style="width:200px"></input>
                </div> -->
            </div>
        </div>
    </div>
    <div id="sub_acct" class="easyui-dialog" closed="true" style="width:400px;padding:20px 40px">
        <form id="fm" method="get">
            <p>子 账 号:&nbsp&nbsp&nbsp&nbsp
            <input name="acc_num" class="easyui-textbox easyui-validatebox" validType="strEngNum" style="width:200px;height:32px" required="true"></p>
            <p>账 户 名:&nbsp&nbsp&nbsp&nbsp
            <input name="acc_name" class="easyui-textbox easyui-validatebox" validType="strChinese" style="width:200px;height:32px" required="true"></p>
            <p>关联总账号:
            <input name="master_acct" class="easyui-combobox" style="width:200px;height:32px" required="true" data-options="panelHeight:'auto',valueField:'acc_num',textField:'acc_num',url:'/masteracc_combobox_json/'"></p>
            <p>客 户 权 益:
            <input name="equity" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p>买 保 证 金:
            <input name="buy_margin" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p>卖 保 证 金:
            <input name="sell_margin" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p>保证金占用:
            <input name="margin_locked" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <p>可 用 资 金:
            <input name="fund_avaril" class="easyui-textbox " style="width:200px;height:32px" required="false"></p>
            <div style="text-align: center;">
                <a id="add" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="subacctinfoadd()">提交</a>
                <a id="modify" type="submit" style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-save" onclick="subacctinfomod()">修改</a>
                <a style="margin:0 20px" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#sub_acct').dialog('close')">取消</a>
            </div>
        </form>
    </div>
    <div id="fund_change" class="easyui-dialog" closed="true" style="width: 380px;padding: 20px 40px;">
        <form id="fund_change_fm" method="post">
            <p>出 入 金:&nbsp
            <input name="fund_change" class="easyui-textbox easyui-validatebox" style="width:200px;height:32px"></p>
            <p>资金账户:
            <input name="change_acct" class="easyui-combobox" style="width:200px;height:32px" data-options="panelHeight:'auto', valueField:'acc_num',textField:'acc_num',url:'/subacc_combobox_json/'"></p>
            <p>备&nbsp&nbsp&nbsp&nbsp&nbsp 注:
            <input name="change_desc" class="easyui-textbox" style="width: 200px;height: 32px"></p>
            <div style="text-align: center;">
                <a id="fund_btn" type="submit" class="easyui-linkbutton" iconCls="icon-save" onclick="fund_change()" style="margin:0 20px">提交</a>
                <a class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#fund_change').dialog('close')" style="margin:0 20px">取消</a>
            </div>
        </form>
    </div>
</body>

</html>
