<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>量化运维管理系统</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/js/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
</head>

<body class="easyui-layout">
    <div class="easyui-panel" title="服务监控" data-options="iconCls:'icon-tip',fit:true" >
        <div class="easyui-panel" title="srvnh001" data-options="closable:true" style="height: 300px;width: 250px; background: #4cde34">
            <!-- <a href="" style="display:block;background-color:#4CDE34;width: 118px;height: 198px;"></a> -->
        </div>
       <!--  <div class="easyui-tabs" data-options="tabWidth:150">
            <div title="Home" style="padding:10px">
                <p>Home Content.</p>
                <p>Home Content.</p>
                <p>Home Content.</p>
                <p>Home Content.</p>
            </div>
            <div title="Maps" style="padding:10px">
                <p>Maps Content.</p>
            </div>
            <div title="Journal" style="padding:10px">
                <p>Journal Content.</p>
            </div>
            <div title="History" style="padding:10px">
                <p>History Content.</p>
            </div>
            <div title="References" style="padding:10px">
                <p>References Content.</p>
            </div>
            <div title="Contact" data-options="tabWidth:110" style="padding:10px">
                <p>Contact Content.</p>
            </div>
        </div> -->
    </div>
</body>

</html>
